name: cd-deploy

on:
  workflow_dispatch:    # manual deploy only

permissions:
  id-token: write
  contents: read

env:
  NAMESPACE: ${{ vars.AZURE_ENV_NAME }}
  ACR_NAME: acrweek3.azurecr.io
  SERVICE_NAME: ${{ vars.SERVICE_NAME }}     # you create this in GitHub → Variables
  IMAGE_TAG: ${{ vars.IMAGE_TAG }}           # you create this in GitHub → Variables

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: AKS Get Credentials
        run: az aks get-credentials --resource-group rg-aks-w3 --name aks-w3 --overwrite-existing

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Deploy single service using ENV vars
        run: |
          echo "Service: $SERVICE_NAME"
          echo "Tag: $IMAGE_TAG"
          echo "Namespace: $NAMESPACE"

          # Convert productService → product-service
          svcFolder=$(echo "$SERVICE_NAME" | sed -e 's/\([A-Z]\)/-\1/g' | tr '[:upper:]' '[:lower:]')

          helm upgrade aks-store-demo ./charts/aks-store-demo \
            --install \
            --namespace $NAMESPACE \
            --create-namespace \
            --set $SERVICE_NAME.image.repository=$ACR_NAME/$svcFolder \
            --set $SERVICE_NAME.image.tag=$IMAGE_TAG
